---
layout: default
title: terminal velocity | the blog of derrick w. turk @ terminus data science, LLC
---

Welcome to <span class="branding">terminal velocity</span>, the very
infrequently updated blog of Derrick W. Turk of <a
href="https://www.terminusdatascience.com" class="branding">terminus data
science, LLC</a>.

<div class="postlist">
    <p>My posts:
    <ul>
    {% for post in site.posts %}
    <li>{{ post.title }}
    {% endfor %}
    </ul>

    {% for post in paginator.posts %}
      <div class="post">
          <a href="{{ post.url }}" class="title">{{ post.title }}</a>
          {{ post.date | date_to_string }}
          {{ post.exerpt }}
      </div>
    {% endfor %}
</div>
<div class="pager">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Older</a>
    {% else %}
      <span class="next">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a href="{{ site.baseurl }}" class="previous">Newer</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
      {% endif %}
    {% else %}
      <span class="previous">Newer</span>
    {% endif %}
    <div class="clear"></div>
</div>
